<footer>
    <img src="/img/book-black.png" alt="Site-Logo"/>
    <p>© 2022 Dhainara. Todos os direitos reservados.</p>
    <ul>
        <li><a href="https://www.linkedin.com/in/dhainara-corr%C3%AAa-7913a01b2/" target="_blank">Linkedin</a></li>
        <li><a href="https://twitter.com/dhainarx" target="_blank">Twitter</a></li>
    </ul>
</footer>