<header>
    <section id="headerInicial">
        <nav>
            <p><a href="/cadastro">Cadastrar</a></p>
            <p><a href="/#estante">Livros</a></p>
        </nav>
    </section>
    <section id="bannerInicial">
        <h1>Bem-vindo a sua <span>Livraria On</span>-line</h1>
        <article>
            <div class="info">
                <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_archive_48px-512.png"/>
                <p>Armazene seus livros de forma segura e rápida!</p>
            </div>
            <div class="info">
                <img src="https://cdn-icons-png.flaticon.com/512/130/130304.png">
                <p>Seus livros favoritos em um só lugar.</p>
            </div>
        </article>
    </section>
</header>